<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505502089066-jt3so4ov21adl6sv0voob4qrafukk2e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505502089066-jt3so4ov21adl6sv0voob4qrafukk2e5</string>
	<key>API_KEY</key>
	<string>AIzaSyCCjh62ZF6uhzBu5Y1iUkFsTvr1_WIjHJY</string>
	<key>GCM_SENDER_ID</key>
	<string>505502089066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cursoios.Configuracao-Firebase</string>
	<key>PROJECT_ID</key>
	<string>configuracaofirebase-340ce</string>
	<key>STORAGE_BUCKET</key>
	<string>configuracaofirebase-340ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505502089066:ios:eba9d0a00a0134fc</string>
	<key>DATABASE_URL</key>
	<string>https://configuracaofirebase-340ce.firebaseio.com</string>
</dict>
</plist>